/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol {
    list-style: none;
}
html {
    font-size: 10px;
}
button {
    background-color: transparent;
    cursor: pointer;
}

/* Variables */
:root {
    --color-blue: #3A6FF8;
    --color-dark-blue: #1B2028;
    --color-blue-gray: #31353F;
    --color-gray: #9E9E9E;
    --color-green: #1ECB4F;
    --color-red: #F46D22;
    --transation-time: 0.3s;
}


body {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    background-color: var(--color-blue-gray);
    display: flex;
}

/* Sidebar Style */
.sidebar {
    width: 25.6rem;
    background-color: var(--color-dark-blue);
    min-height: 100vh;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: var(--color-gray);
}
.sidebar__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sidebar__link {
    display: flex;
    gap: 2rem;
    height: 5rem;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    padding: 1rem;
    transition: var(--transation-time);
}
.sidebar__link--active,
.sidebar__link:hover,
.sidebar__link:active {
    background-color: var(--color-blue);
    color: white;
}
.sidebar__link svg {
    fill: var(--color-gray);
}
.sidebar__link--active svg,
.sidebar__link:hover svg,
.sidebar__link:active svg{
    fill: white;
}

/* Maind Dashbord Window */
.main {
    flex: 1;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* Header Style */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.header__title {
    font-size: 3.2rem;
    font-weight: 600;
    color: white;
}
.header__search {
    position: relative;
}
.header__input {
    width: 45rem;
    border-radius: 0.8rem;
    background-color: var(--color-dark-blue);
    color: white;
    padding: 1rem 5rem 1rem 2rem;
}
.header__search-button {
    position: absolute;
    inset-inline-end: 2rem;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.header__control {
    display: flex;
    gap: 3rem;
}
.header__notification-button {
    width: 4.4rem;
    height: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-blue);
    border-radius: 0.8rem;
}
.header__user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: white;
    font-weight: 500;
}

/* Coins Section Style */
.coins {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}
.coin-card {
    background-color: var(--color-dark-blue);
    border-radius: 1.5rem;
    padding: 2rem;
}
.coin-card__header {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.coin-card__info {
    flex: 1;
}
.coin-card__icon {
    width: 4.4rem;
    height: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-gray);
    border-radius: 1rem;
}
.coin-card__svg {
    width: 2.4rem;
    height: 2.4rem;
}
.coin-card__name {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
}
.coin-card__symbol {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--color-gray);
}
.coin-card__rate {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coin-card__arrow {
    width: 1.05rem;
    height: 0.573rem;
}
.coin-card__stats {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coin-card__dollar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.coin-card__dollar-now {
    font-size: 2.1rem;
    font-weight: 600;
    color: white;
}
.coin-card__dollar-change {
    font-size: 1.4rem;
    font-weight: 600;
}
.coin-card__dollar-change--increase {
    color: var(--color-green)
}
.coin-card__dollar-change--decrease {
    color: var(--color-red);
}